@use '../../../../styles/_colors' as colors;
@use '../../../../styles/_z-index' as zIndex;

$marker-size: 28px;
$line-thickness: 1px;
$entry-section-gap: 16px;
$content-padding: 32px;
$line-offset: calc($marker-size / 2 - $line-thickness);

.experience-entry {
  display: flex;
  flex-direction: column;
  gap: $entry-section-gap;
  padding-right: $line-offset;
  z-index: zIndex.$layer-1;

  &__top {
    font-style: italic;
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-left: $line-thickness solid colors.$baseDarkText;
    padding-left: $content-padding;
    padding-top: 8px;
    margin-left: $line-offset;
  }

  &__middle {
    display: flex;
    gap: $entry-section-gap;

    .experience-entry__separator-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      flex-grow: 1;
    }

    .experience-entry__date {
      font-size: 12px;
      font-style: italic;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 4px;
      padding-bottom: 4px;
    }

    .experience-entry__separator {
      width: 100%;
      height: 1px;
      background-color: colors.$baseDarkText;
    }

  }

  &__circle {
    display: block;
    width: $marker-size;
    height: $marker-size;
    border: $line-thickness solid colors.$baseDarkText;
    border-radius: 50%;
  }

  &__bottom {
    min-height: 150px;
    border-left: $line-thickness solid colors.$baseDarkText;
    padding-left: $content-padding;
    margin-left: $line-offset;
  }

  &--reversed {
    padding-right: 0;
    padding-left: $line-offset;
    
    .experience-entry__top,
    .experience-entry__bottom {
      border-left: none;
      border-right: $line-thickness solid colors.$baseDarkText;
      padding-left: 0;
      padding-right: $content-padding;
      margin-left: 0;
      margin-right: $line-offset;
      text-align: right;
    }

    .experience-entry__middle {
      flex-direction: row-reverse;
      .experience-entry__separator-container {
        align-items: flex-end;
      }
    }
  }
}
