@use '../../styles/colors' as colors;
@use '../../styles/breakpoints' as breakpoints;
@use '../../styles/mixins' as mixins;
@use '../../styles/blur-ray' as blurRay;
@use '../../styles/z-index' as zIndex;

$container-padding-base: 40px 16px;
$container-padding-sm: 52px 32px;
$container-margin-top: 32px;

$experience-ray-steps: (
  base: (
    top: -12%,
    right: 10%,
    angle: 39,
    blur: 70px,
  ),
  sm: (
    top: -12%,
    right: 30%,
    angle: 50,
    blur: 70px,
  ),
  md: (
    top: -12%,
    right: 26%,
    angle: 54,
    blur: 90px,
  ),
  lg: (
    top: -12%,
    right: 26%,
    angle: 54,
    blur: 74px,
  ),
  xl: (
    top: -12%,
    right: 26%,
    angle: 54,
    blur: 82px,
  ),
  xxl: (
    top: -12%,
    right: 26%,
    angle: 54,
    blur: 90px,
  ),
);

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 32px;
}

.experience__container {
  @include mixins.base-border;
  @include mixins.base-background-blur;
  @include blurRay.blur-ray-before(
    $width: 80px,
    $height: 230%,
    $background: colors.$darkBlue,
    $z-index: zIndex.$ray-z-index,
    $steps: $experience-ray-steps
  );
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 800px;
  margin-top: $container-margin-top;
  padding: $container-padding-base;

  @media (min-width: breakpoints.$breakpoint-sm) {
    padding: $container-padding-sm;
  }
}

