@use '../../../../../../styles/colors' as colors;
@use '../../../../../../styles/breakpoints' as breakpoints;

.landing-social-link {
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  transition: color 0.3s ease;

  &:hover {
    color: colors.$baseWhite;

    .landing-social-link__text {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__container {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__text {
    transform: translateX(30px);
    display: none;
    font-size: 16px;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    @media (min-width: breakpoints.$breakpoint-sm) {
      display: flex;
    }
  }
}
