$baseWhite: #fff;
$baseBlack: #000;

$baseBackground: #00000c;
$baseText: #c2c2c2;
$baseDarkText: #838383;
$darkBlue: #02114c;
$lightBlue: #0001ff;

$errorRed: #ff4d5e;
$darkRed: #4d0008;
$successGreen: #5ad17c;
$darkGreen: #023d18;
