@use './colors' as colors;
@use './breakpoints' as breakpoints;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

html,
body {
  background-color: colors.$baseBackground;
  color: colors.$baseText;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 60px;
  font-weight: 200;
  line-height: 1;
}

section {
  &:not(:first-child) {
    margin-top: 80px; 
  }
}

.highlight {
  font-style: italic;
  font-weight: 500;
}

.section-title {
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 6px;
  
  @media (min-width: breakpoints.$breakpoint-sm) {
    font-size: 48px;
    letter-spacing: 12px;
  }

  @media (min-width: breakpoints.$breakpoint-md) {
    font-size: 72px;
    letter-spacing: 28px;
  }
}