@use '../../styles/_colors' as colors;

$section-padding: 32px;

.landing__container {
  margin: $section-padding;
  padding: $section-padding;
  border: 1px solid colors.$baseText;
  min-height: calc(100vh - $section-padding * 2);
}
