@use '../../styles/_colors' as colors;
@use '../../styles/_breakpoints' as breakpoints;

$section-padding: 32px;
$ray-width: 100px;

.landing {
  position: relative;
}

.landing__container {
  margin: $section-padding;
  padding: $section-padding;
  border: 1px solid colors.$baseText;
  min-height: calc(100vh - $section-padding * 2);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    top: 10%;
    right: -36%;
    width: $ray-width;
    height: 230%;
    transform: rotate(16deg);
    transform-origin: top right;
    background: colors.$darkBlue;
    filter: blur(48px);
    pointer-events: none;
  }
}

@media (min-width: breakpoints.$breakpoint-sm) {
  .landing__container::before {
    top: 10%;
    right: -36%;
    transform: rotate(36deg);
    filter: blur(48px);
  }
}

@media (min-width: breakpoints.$breakpoint-md) {
  .landing__container::before {
    top: 8%;
    right: -30%;
    transform: rotate(35deg);
    filter: blur(62px);
  }
}

@media (min-width: breakpoints.$breakpoint-lg) {
  .landing__container::before {
    top: 7%;
    right: -26%;
    transform: rotate(34deg);
    filter: blur(74px);
  }
}

@media (min-width: breakpoints.$breakpoint-xl) {
  .landing__container::before {
    top: 6%;
    right: -24%;
    transform: rotate(33deg);
    filter: blur(82px);
  }
}

@media (min-width: breakpoints.$breakpoint-xxl) {
  .landing__container::before {
    top: 5%;
    right: -22%;
    transform: rotate(33deg);
    filter: blur(90px);
  }
}
