@use '../../styles/colors' as colors;
@use '../../styles/breakpoints' as breakpoints;

.contact__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 26px;
  margin-top: 18px;

  @media (min-width: breakpoints.$breakpoint-sm) {
    gap: 32px;
  }
}

.contact__field-container {
  width: 100%;
}

.contact__field-container--email {
  max-width: 80%;
}

.contact__field-container--title {
  max-width: 70%;
}

.contact__field-container--message {
  max-width: 90%;
}

.contact__submit {
  min-width: 220px;
  border: 1px solid colors.$baseDarkText;
  margin-top: 4px;
  padding: 16px 24px;
  background: transparent;
  color: colors.$baseText;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow:
    0 0 16px 4px colors.$darkBlue,
    0 0 12px 2px colors.$darkBlue inset;
  
  &:hover {
    box-shadow:
      0 0 16px 4px colors.$darkBlue,
      0 0 50px 2px colors.$darkBlue inset;
  }
}
