@use '../../../../styles/_breakpoints' as breakpoints;
$left-section-max-width: 500px;

.landing__top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;

  &--left {
    max-width: $left-section-max-width;
  }

  &--right {
    .landing__social-links {
      display: flex;
      font-size: 24px;
      flex-direction: column;
      gap: 18px;
    }
  }

  .landing__title {
    font-size: 48px;
    padding-bottom: 8px;

    @media (min-width: breakpoints.$breakpoint-sm) {
      font-size: 64px;
    }
  }

  .landing__description {
    font-size: 14px;

    @media (min-width: breakpoints.$breakpoint-sm) {
      font-size: 16px;
    }
  }
}
