@use '../../../../styles/colors' as colors;
@use '../../../../styles/breakpoints' as breakpoints;

$tag-x-offset: -80px;
$tag-y-offset: 80px;
$tag-x-sm-offset: -72px;
$tag-y-sm-offset: 80px;

.landing {
  &__tag {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: colors.$baseDarkText;
    letter-spacing: 3px;

    &--first {
      top: $tag-y-offset;
      left: $tag-x-offset;
      transform: rotate(270deg);

      @media (min-width: breakpoints.$breakpoint-sm) {
        left: $tag-x-sm-offset;
      }
    }

    &--second {
      right: $tag-x-offset;
      bottom: $tag-y-offset;
      transform: rotate(90deg);

      @media (min-width: breakpoints.$breakpoint-sm) {
        right: $tag-x-sm-offset;
      }
    }
  }
}
