@use '../../../../styles/colors' as colors;
@use '../../../../styles/breakpoints' as breakpoints;

$theme-switcher-state-size: 14px;
$theme-switcher-state-size-sm: 22px;

.theme-switcher {
  transform: rotate(270deg);
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: colors.$baseDarkText;
  filter: blur(0.5px);  

  &__option {
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    transition: color 0.3s ease;

    &:hover {
      color: colors.$baseWhite;

      .theme-switcher__state {
        border-color: colors.$baseWhite;
      }
    }

    &--active {
      .theme-switcher__state {
        background-color: colors.$lightBlue;
      }
    }
  }

  &__state {
    width: $theme-switcher-state-size;
    height: $theme-switcher-state-size;
    border: 1px solid colors.$baseDarkText;
    transition: border-color 0.3s ease;

    @media (min-width: breakpoints.$breakpoint-sm) {
      width: $theme-switcher-state-size-sm;
      height: $theme-switcher-state-size-sm;
    }
  }

  &__label {
    font-weight: 500;
    text-transform: uppercase;
  }
}
